body {
    font-family: Roboto, Arial;
    color: rgb(33, 33, 33);
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

input, select, button {
    font-family: Roboto, Arial;
}

.link-primary {
    color: rgb(1, 124, 182);
    cursor: pointer;
}

.link-primary:hover {
    color: rgb(196, 80, 0);
}