.main {
    max-width: 850px;
    margin-top: 90px;
    margin-bottom: 100px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 25px;
}

.orders-grid {
    
}